In [2]:
# 1) Print number from 1 to 5 using a while loop.

count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [4]:
# 2) Calculate the sum of number from 1 to 10 using a while loop.

sum = 0
number = 1

while number <= 10:
    sum += number
    number += 1

print(f"The sum of numbers from 1 to 10 is: {sum}")

The sum of numbers from 1 to 10 is: 55

In [5]:
# 3) Calculate the factorial of a number using a for loop.

def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

# Example:
number = 5
factorial_result = factorial(number)
print(f"The factorial of {number} is {factorial_result}.")

The factorial of 5 is 120.

In [6]:
# 4) Count the number of vowel in a string using a for loop.

def count_vowels(input_string):
    vowels = set('aeiou')  # Set of vowels (both lowercase and uppercase)
    count = 0

    for char in input_string.lower():
        if char in vowels:
            count += 1

    return count

# Example:
user_input = input("Enter a string: ")
vowel_count = count_vowels(user_input)
print(f"Number of vowels in the given string is: {vowel_count}")

Enter a string: pwskills
Number of vowels in the given string is: 1

In [7]:
# 5) Print a pattern using nested loops.

rows = 5

for i in range(1, rows + 1):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

In [9]:
# 6) Generate a multiplication table using nested loops.

number = 5

print(f"Multiplication table for {number}:")

for i in range(1, 11):
    product = number * i
    print(f"{number} × {i} = {product}")

Multiplication table for 5:
5 × 1 = 5
5 × 2 = 10
5 × 3 = 15
5 × 4 = 20
5 × 5 = 25
5 × 6 = 30
5 × 7 = 35
5 × 8 = 40
5 × 9 = 45
5 × 10 = 50