In [5]:
# Calculate the sum, difference, product, and quotient of two numbers.

num1 = 10
num2 = 5

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print(f"Sum: {sum}")
print(f"Difference: {difference}")
print(f"Product: {product}")
print(f"Quotient: {quotient}")

Sum: 15
Difference: 5
Product: 50
Quotient: 2.0

In [9]:
# Perform various assignment operations on a variable.

x = 10

print(f"Initial value: {x}")

x += 5  # Addition assignment
print(f"Output of addition assignment: {x}")

x -= 2  # Subtraction assignment
print(f"Output of subtraction assignment: {x}")

x *= 3  # Multiplication assignment
print(f"Output of multiplication assignment: {x}")

x /= 4  # Division assignment
print(f"Output of division assignment: {x}")

Initial value: 10
Output of addition assignment: 15
Output of subtraction assignment: 13
Output of multiplication assignment: 39
Output of division assignment: 9.75

In [15]:
# Compare two numbers and print the results

num1 = 10
num2 = 5

if num1 > num2:
  print("num1 is greater than num2.")
elif num1 < num2:
  print("num1 is less than num2.")
else:
  print("num1 is equal to num2.")

num1 is greater than num2.

In [23]:
# Check conditions using logical operators.

num1 = 10
num2 = 5
num3 = 20

if num1 > num2 and num1 < num3:
  print("Condition 1: num1 is greater than num2 and less than num3.")
elif num1 > num2 or num1 < num3:
  print("Condition 2: Either num1 is greater than num2 or less than num3.")
else:
  print("Condition 3: Neither condition is true.")

Condition 1: num1 is greater than num2 and less than num3.

In [24]:
# Check the identity of variables.

x = 10
y = 10
z = "10"

if x is y:
  print("x and y are the same object.")
else:
  print("x and y are not the same object.")

if x is not z:
  print("x and z are not the same object.")
else:
  print("x and z are the same object")

x and y are the same object.
x and z are not the same object.

In [36]:
# Perform bitwise operations on any two integers.

num1 = 10
num2 = 4

print("num1 & num2:", num1 & num2) # AND operation
print("num1 | num2:", num1 | num2) # OR operation
print("~num1: ", ~num1) # NOT operation
print("num1 ^ num2: ", num1 ^ num2) # XOR operation
print("num1 >> 2: ", num1 >> 2) # right shift operation
print("num1 << 2: ", num1 << 2) # left shift oepration

num1 & num2: 0
num1 | num2: 14
~num1:  -11
num1 ^ num2:  14
num1 >> 2:  2
num1 << 2:  40

In [38]:
# Use unary operators to change the sign of a number.

num = 10

print("Initial value: ", num)
num = -num
print("Value after changing the sign: ", num)

Initial value:  10
Value after changing the sign:  -10

In [41]:
# Use the ternary operator to assign values based on conditions.

condition = True

value = "Condition is True" if condition else "Condition is False"

print(value)

Condition is True