In [9]:
# Convert a integer to a floating point number.
integer = 21
floating_point = float(integer)
print(floating_point)
type(floating_point)

21.0

float

In [8]:
# Convert a float to an integer.
floating_point = 11.3
integer = int(floating_point)
print(integer)
type(integer)

11

int

In [7]:
# Convert a integer to a string.
integer = 31
string = str(integer)
print(string)
type(string)

31

str

In [10]:
# Convert a list to a tuple.
list_values = [1, 2, 3, 4, 5]
tuple_values = tuple(list_values)
print(tuple_values)
type(tuple_values)

(1, 2, 3, 4, 5)

tuple

In [11]:
# Convert a tuple to a list.
tuple_values = (6, 7, 8, 9, 10)
list_values = list(tuple_values)
print(list_values)
type(list_values)

[6, 7, 8, 9, 10]

list

In [15]:
# Convert a decimal number to binary.
decimal_number = 15
binary_number = bin(decimal_number)
print(binary_number)

0b1111

In [26]:
# Convert a non-zero number to boolean.
non_zero_number = 12
boolean_value = bool(non_zero_number)
print(boolean_value)
type(boolean_value)

True

bool